@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";

body{
  background-color: #0C0F11;
  padding: 0 250px;
  color: white;
  font-family: 'roboto';
}